.aprobado {
    background-color: rgb(2, 71, 2);
    color: white;
    text-align: center;
}
.reprobado {
    background-color:rgb(122, 1, 1);
    color: white;
    text-align: center;
}

.cajaNota{
    text-align: center;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    color: white;
    
}